
*{
    padding: 0%;
    margin: 0%;
 }
 .parent{
    height: 100vh;
    width: 100%;
    background-color: #6699CC;
 }
 .head{
    width: 100%;
    height: 10%;
    background-color:  #6699CC;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .products{
    width: 100%;
    height: 65%;
    background-color: #ADADC9;
    display: flex;
    flex-direction: column;
 }
 .about_us{
    height: 25%;
    width: 100%;
    background-color: #6699CC;
    display: flex;
    justify-content: space-between;
 }
 .log_in{
    width: 7%;
    height: 100%;
    background-color: #ADADC9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 .noat{
    width: 7%;
    height: 100%;
    background-color: #ADADC9;
 }
 .big1{
    height: 50%;
    width: 100%;
    background-color:#ADADC9;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .big2{
    height: 50%;
    width: 100%;
    background-color:#ADADC9;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .small1{
    height: 85%;
    width: 27%;
    background-color: #6699CC;
    display: flex;
 }
 .small2{
    height: 85%;
    width: 27%;
    background-color: #6699CC;
    display: flex;
 }
 .small3{
    height: 85%;
    width: 27%;
    background-color: #6699CC;
    display: flex;
 }
 .small4{
    height: 85%;
    width: 27%;
    background-color: #6699CC;
    display: flex;
 }
 .small5{
    height: 85%;
    width: 27%;
    background-color: #6699CC;
    display: flex;
 }
 .small6{
    height: 85%;
    width: 27%;
    background-color: #6699CC;
    display: flex;
 }
 .text1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }
 .text2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }
 .text3{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }
 .text4{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }
 .text5{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }
 .text6{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }
 .text{
    height: 100%;
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 